html{
	height: 100%;
}
body {
  height: 100%;
  margin: 0;
}



li {
  float: left;
  width: 130px;
  margin-right: 35px;
  background: rgb(247, 239, 210);
    margin-bottom: 58px;
    border: 1px solid #e2d3c2;
}

 li:nth-child(3n) {
     margin-right: 1px;/* Цвет фона */
   } 
   img {
  border: 9px solid #ede1ce;
  display: block;
}
ul {
  list-style-type: none;
  width: 467px;
  display: inline-block;
  padding: 0;
   background: url("bg.jpg");
  margin: 0;
}
p {
  margin: 0;
  background: #f6eee2;
  border-top: 1px solid #e2d3c2;
  font-family: sans-serif;
  font-size: 10px;
  line-height: 14px;
  padding: 0 5px ; 
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
    position: absolute;
  width: 120px;
  border: 1px solid #e2d3c2;
  margin-left: -1px;
}


li:hover p{
	 text-overflow: none;
  white-space: normal;
  overflow: none;
  display: block;
 
}

a{
	color: black;
	text-decoration: none;
}